[2015-04-30 09:05] soflare opened #4 "For hosting images, not a bug/feature"
![helloworld](https://cloud.githubusercontent.com/assets/486820/7409665/d69297f6-ef5a-11e4-9377-f320a084909a.png)

[2015-04-30 09:05] #4 closed, assigned to nobody

[2015-05-25 01:59] oldshuren opened #7 "unescaped ' in string will cause problem"
unescaped ' in string will cause problem. For example in the echo example, put "'" in the message, there will no callback.

I think the "'" is not escaped in javascript string literal

[2015-05-25 02:08] oldshuren commented on #7
js to native is fine, native to js has problem.

[2015-05-25 10:13] soflare commented on #7
Fixed.
Thanks for reporting the issue.

[2015-05-25 10:13] #7 closed, assigned to nobody

[2015-05-25 19:55] oldshuren commented on #7
Thanks for quick fix!

By the way, when can I see it from Pod?

[2015-05-26 15:23] soflare commented on #7
Next week hopefully.
BTW, are you planing to use XWebView in your production, or just have a try?
Let me know if there is anything I can help out.

[2015-05-28 13:38] oldshuren commented on #7
We're trying to now. Works perfectly, thanks!

[2015-06-18 17:34] atwoodjw commented on #7
@oldshuren, can you explain how you called JS from native? The documentation only shows how to call native from JS (with callback).

[2015-06-18 18:25] soflare commented on #7
@atwoodjw , thanks for trying the project. Since the project is very young, both document and testing are insufficient.
There are 2 methods for native to JS communication.
1. Evaluate javascript string directly
   WKWebView has async `evaluateJavaScript:completionHandler:` method, XWebView also offers a sync version. See XWebView.swift for details.
2. Access DOM elements through the `scriptObject`

[2015-06-18 18:28] atwoodjw commented on #7
Awesome, thank you. Loving the project so far.

[2015-08-20 16:45] xwv opened #10 "Migrate to Swift 2.0"
Source written in Swift 1.2 can't compiled with Xcode 9 beta 5. Swift 2.0 has both many feature improvements and bug fixes.

[2015-08-28 13:12] HammerSlavik opened #11 "An URL's query is trimmed while using func "loadFileURL""
When I try to pass URL into "loadFileURL" function with some parameters in query those parameters wouldn't pass to WKWebView's "loadRequest".
For example I want to load file with URL "../index.html?firstParam=true&secondParam=3" but WKWebView receives only "../index.html"

I think the best way to fix this is to use URL's "query" variable to append it to resulting url. At least it helped me with my

[2015-09-06 14:27] #11 closed, assigned to nobody

[2015-09-18 08:05] andriyslyusar commented on #10
Hi David, would you push swift 2 compatible version to cocoapods?

[2015-09-20 17:56] xwv commented on #10
Yes, I will submit a PR for that when it ready. Currently, most porting works are done, you can fetch the code from https://github.com/xwv/XWebView/tree/swift2
I'm trying to find a way to handle loadFileURL well both on iOS8 and 9.

[2015-09-25 14:28] xwv commented on #10
Just merged.
@andreyslyusar, are you using XWebView or plan to use it?
If you're using it, could you please confirm it works for you?

[2015-09-25 18:40] fernandodev opened #15 "iOS 9.0"
Hi,

Now in iOS 9.0 there are two new methods:
1. `loadFileURL(_:allowingReadAccessToURL:)
   (New in iOS 9.0)`

and
1. `loadData(_:MIMEType:characterEncodingName:baseURL:)
   (New in iOS 9.0)`
- [WkWebView](https://developer.apple.com/library/ios/documentation/WebKit/Reference/WKWebView_Ref/#//apple_ref/occ/instm/WKWebView/loadData:MIMEType:characterEncodingName:baseURL:)

So for `1` it isn't nec

[2015-09-25 21:57] xwv commented on #15
Yes, I think we can remove the back compatibility for iOS 8 when its market share drops below 10%.
There are some efforts for iOS 9 support in the last commit. On iOS 9, the WKWebView's native loadFileURL and loadHTMLString are preferred. Meanwhile, XWebView provides "polyfills" (through http server) for the 2 methods with exactly the same API. The new loadData method has no such "polyfill" becaus

[2015-09-26 20:30] fernandodev commented on #15
Nice and thank you @xwv ,

I'll take a look on _TODO_.

[2015-09-29 22:41] fernandodev opened #17 "Socket Timeout"
Only for iOS 8.x

Socket might be killed after sometime. So it's necessary to restart connection.

[2015-09-30 18:51] ghost opened #18 "Problem with code"
Im a newbie in IOS... I trying to do the Quick Start guide, but unfortunelly, Xcode throws about 30 compilation errors.... I use Product -> Analyze option.... So I set target 8 and use Xcode 7 beta.

Some errors are with the # ... I dont understand any more...

Please help me

[2015-09-30 19:10] fernandodev commented on #18
May you post log error and the version you are using?

[2015-09-30 19:12] ghost commented on #18
Fernando, you speak spanish?

[2015-09-30 19:25] fernandodev commented on #18
You can try even though I speak Portuguese ;)
But in general words prefer English to help others with the same doubt.

[2015-09-30 19:48] ghost commented on #18
I have an error that says: WKWebView does not have a amember name loadPlugin

[2015-09-30 19:51] fernandodev commented on #18
You must link XWebView.framework in your XCodeProject and import it.

[2015-09-30 19:56] ghost commented on #18
OK, I allready added in the section "Linked frameworks and libraries" and add import XWebView in ViewCOntroller.swift but import is broken.... not a module says...

[2015-09-30 22:09] fernandodev commented on #18
Can it be [that](http://stackoverflow.com/questions/29500227/xcode-no-such-module-error-but-the-framework-is-there)?

[2015-10-01 14:15] ghost commented on #18
![screen shot 2015-10-01 at 11 11 23 am](https://cloud.githubusercontent.com/assets/263420/10223060/951f542a-682d-11e5-9820-418219d8de57.png)
![screen shot 2015-10-01 at 11 11 47 am](https://cloud.githubusercontent.com/assets/263420/10223061/955010e2-682d-11e5-9ed7-38cf8bd904c1.png)

I downloaded the sample proyect and opened in Xcode... the are the compilation errors...

[2015-10-01 14:19] fernandodev commented on #18
I suppose that sample project from https://github.com/XWebView/Sample is not updated yet. I'm working on a new branch to improve new fixes for iOS 9.x/8.x and there is a new Sample under construction

[2015-10-01 14:23] ghost commented on #18
So, what is the correct version of Xcode and swift to run the sample?

[2015-10-01 14:36] fernandodev commented on #18
For a while swift 1.2 XCode 6.3
Take a look on this [branch](https://github.com/XWebView/XWebView/tree/fix-socket-timeout)

[2015-10-01 18:27] xwv commented on #18
The sample project was updated for Swift 2.0 several days ago, check the latest commit.

[2015-10-01 21:28] nathankeeney commented on #18
Hey all, I inherited an XCode project that utilizes XWV. When I updated to XCode 7 (not beta), I'm now getting several compilation errors similar to the ones in the screenshot above, from XWebView. I tried updating the pod (0.9.2 -> 0.9.3) and saw no improvement even after cleaning.

Also, when I restart XCode, I got the Swift Syntax Updater wizard. I allowed this to complete and now I actually ha

[2015-10-02 06:10] xwv commented on #18
@nathankeeney , the master branch has Xcode 7 support, but it has not been published on cocoapods yet.

[2015-10-02 20:03] nathankeeney commented on #18
@xwv Great! Any ETA for cocoapods version?

[2015-10-03 20:31] xwv commented on #18
@nathankeeney, in 1 week since I'm outing. You can have a try for the last revision if convenient. So we may fix problems if any before publish to cocoa pods.

@fernandodev , I would like to include your changes about the readme and example (I like it :-) into the upcoming beta release. Can you make a PR for that?

[2015-10-04 17:59] fernandodev commented on #18
@xwv For sure! I'm sorry for late because I've got super busy few days ago. But tomorrow I'll work on it again and split PR into small others.

[2015-10-09 18:51] xwv commented on #17
I'm working on this bug. It will be fixed soon hopefully.

[2015-10-13 15:56] #17 closed, assigned to nobody

[2015-10-13 16:54] xwv commented on #10
Version 0.9.4 is published on CocoaPods.
Close

[2015-10-13 16:54] #10 closed, assigned to nobody

[2015-10-13 16:57] #15 closed, assigned to nobody

[2015-10-13 17:00] xwv commented on #18
@nathankeeney , version 0.9.4 was pushed to cocoapods.
Close

[2015-10-13 17:00] #18 closed, assigned to nobody

[2015-10-13 17:45] fernandodev opened #22 "iOS 9.x - loadHTMLString can't have baseURL in directory outside `tmp` folder or `bundle`"
iOS 9.x have [`loadData:MIMEType:characterEncodingName:baseURL:`](https://developer.apple.com/library/ios/documentation/WebKit/Reference/WKWebView_Ref/#//apple_ref/occ/instm/WKWebView/loadData:MIMEType:characterEncodingName:baseURL:) and the old [`loadHTMLString:baseURL:`](https://developer.apple.com/library/ios/documentation/WebKit/Reference/WKWebView_Ref/#//apple_ref/occ/instm/WKWebView/loadHTML

[2015-10-21 11:32] fernandodev opened #24 "XWebView should expose port number or receive a preferred port number"
I think in some cases is conviniente to retrieve current port number of local http server or maybe a way to preset it (I know it can conflict but it's an embedded server maybe it shouldn't occur)

Other point is when use more than one WKWebView instance (like in a page view controller). Is really necessary to instantiate one http server for each instance, I don't think so. For this case I suppose

[2015-12-17 11:11] fernandodev opened #30 "Improve README and Sample Usage"
- [ ] README is lacking of installing and getting started usage
- [ ] README needs tutorial for Cocoapods and Carthage
- [ ] `cocoapod try` might be a nice feature

[2015-12-18 15:29] xwv commented on #30
All these items are welcome.
For item 2, the README had had a quick guide section. It was moved to project wiki. I hope I can write more documents in the wiki. I'm not a good technical writer, specially in english.
I'm OK to bring it back to help developers to take a quick look.
I remember that you have done some works on these items, right?

[2015-12-18 15:53] xwv commented on #24
Sorry for reply late.

The http server is intent to be transparent to embedders by design. However, I can be convinced if you have a reasonable case that indeed requires to know the port number.

Multiple WKWebView instances can share a same http server, but it means they share the same resource directory. This may cause security issues.

The iOS 8 support is expected to be removed in a seeable fu

[2015-12-18 19:42] xwv opened #31 "Support the new official Swift Package Manager"
Reference: https://swift.org/package-manager/#community-proposal

[2015-12-18 19:46] xwv opened #32 "Port to OS X"
This should be easy. I would appreciate if someone can take this.

[2015-12-21 16:00] joshuakaleb0424 opened #33 "Multiple webview on a single scene/controller"
Whenever i try loading a plugin. Only the last webview to be loaded with a plugin works. The previous ones are not working.

[2015-12-21 16:42] xwv commented on #33
If you mean loading a plugin object into multiple webviews, yes, it's a known issue. I have not tried before, but I know it has problem.
So currently, you have to create 2 or more objects for each webview, And you have to deal with syncing if they need to share states.

[2015-12-23 04:38] joshuakaleb0424 commented on #33
Like this?
self.firstWebView!.loadPlugin(FirstPlugin(), namespace: "plugin.object")
self.secondWebView!.loadPlugin(SecondPlugin(), namespace: "plugin.object")

[2015-12-23 06:57] xwv commented on #33
You can also load 2 objects instantiate from the same class for each webview, like:

self.firstWebView!.loadPlugin(FirstPlugin(), namespace: "plugin.object")
self.secondWebView!.loadPlugin(FirstPlugin(), namespace: "plugin.object")

[2015-12-23 11:22] fernandodev commented on #33
Does it make sense to share plugin between multiple webviews?
I think that an injected object must have a single connection between view and model, but if I would like to listen some event? In this case it might be a better approach to create multiple instances of the same plugin and in callbacks send those events to a global listener...
What do you think about that @xwv ?

[2015-12-23 17:46] xwv commented on #33
@fernandodev, perhaps you are right.
Technically, the major problem of multiple webviews support is that how to know which webview is the origination of a native invocation. I can't figure out a decent way so far.

[2016-03-07 15:01] prep4gmat opened #35 "NSRangeException on XWVHttpConnection.swift line 108"
I am loading HTML string with MathJax if it s relevant in any way.
In some cases I crash with this exception -

[code]

Looks like the buffer length is smaller then the data range.

Adding this code -

`let inputBufferLength = inputBuffer.length
      var range = NSRange(bytesConsumed...base.distanceTo(ptr))
                    if range.length > inputBufferLength {
                        print("o

[2016-03-08 12:03] xwv commented on #35
Is this issue reproducible? How often it occurs?
Can you identify a pattern?

If convenient, could you please provide more information, like:
1. The value of `cursor` variable once the exception is raised.
2. The full content of the HTTP request.

I have a try (not tested) for this issue:

[code]

[2016-03-14 12:44] ZeroZeroOne-dev opened #37 "Objects as callback/promise result"
Is it possible to return an object as a result of a plugin function call?

[code]

[2016-03-14 16:21] xwv commented on #37
This is a good question.
You can return an object as a plugin by reference, this means the JS object returned is connected to the native object:

[code]

Currently, return by value is not supported. This is an item in my todo list. A proposal is:

[code]

[2016-03-14 16:25] xwv commented on #35
@prep4gmat , any update?

[2016-03-14 16:30] ZeroZeroOne-dev commented on #37
Yeah im currently injecting the object as json as an alternative since i don't need to call any functions in the object, but by reference might be a better option, thanks :)

[2016-03-19 12:04] jameshartt opened #39 "Swift 2.2 and NSInvocation"
Hi there, love XWebView, it helped massively in transitioning a very popular app away from UIWebViews to WKWebViews and bring it all the benefits that has. I currently have a fork with some very messy changes that I hope to tidy up and maybe offer as a PR that helped resolve some issues I was having with relative paths in local HTML and Javascript.

Anyway, onto the issue, whilst checking dependan

[2016-03-20 12:49] xwv commented on #39
I'm not aware of this issue because I'm still using Xcode 7.0. Thanks, PRs are always welcome :-)
I'll try the latest version of Xcode when I have time(hopefully soon). The XWVInvocation uses a trick to workaround the restriction of NSInvocation in Swift. If it's blocked by Apple, we have to find another or back to OC.
Does the next line (_NSInvocation.invocationWithMethodSignature) work? There is

[2016-03-20 14:08] jameshartt commented on #39
Thank you for your response :smile:. Yeah, it did look like a trick that unfortunately doesn't work anymore. On first look at docs and generated Swift headers I couldn't really see another way around other than writing some Obj-C. We are soon planning to use the Scripting stuff (the main reason why I chose XWebView) for a Single Web View implementation of the app I'm working on. This should be wit

[2016-03-20 19:43] xwv commented on #39
I tried to install CommandLine tools of Xcode 7.3beta5, but failed because I'm using Yosemite :-(
Here is my [1st try](https://gist.github.com/xwv/e472dac2a6a421a64fe0#file-trick-swift) for the issue. Does it work in Swift 2.2?

[2016-03-20 22:24] jameshartt commented on #39
That try looks very reasonable and I'll give it a bash tomorrow on the train into work and raise a PR if successful. The only thing that concerns me is that Selector("...") is replaced in Swift with a type safe version. But really won't know until I try.

Thanks a lot for the steer :-)

[2016-03-21 19:08] xwv commented on #39
Thanks for trying.
My [2nd try](https://gist.github.com/xwv/26ba4599632e27f76a3e#file-inv-swift)
This looks better than the 1st. I bet this will work :smile:

[2016-03-21 21:47] jameshartt commented on #39
Cool, again, will try tomorrow and PR if successful :-)

[2016-03-22 13:01] robin7331 commented on #39
Is there any update on this? I have a urgend bugfix somewhere else and I am not able to proceed with building my project.

Is downgrading xcode the only way?

[2016-03-22 15:18] xwv commented on #39
@robin7331 , there is an PR #41 contributed by @Cloudage. You can try to apply the patch for temporary workaround, it looks good though I have not tried. I need several days at least to work out final fix.

[2016-03-22 16:09] jameshartt commented on #39
Yeah, I've just tried your second suggestion @xwv, but just need the extra time to do attempt the same with the method signature. May be until the weekend.

I do think when it comes down to it, PR #41 is the better approach.

There are still multitude of warnings with your approach and with Swift 3, the unsafe stringy `Selector("method")` approach will no longer work.

[2016-03-22 16:10] jameshartt commented on #39
Using the suggestions of which to change the `Selector("...")` to `#selector(NSInvocation.method)`, result in compiler errors, for the obvious reasons, Apple _reallllly_ don't want you to use NSInvocation and NSMethodSignature in Swift.

[2016-03-22 16:10] jameshartt commented on #39
Anyway, thanks for your steer and will have another hack at the weekend :-)

[2016-03-22 16:35] robin7331 commented on #39
Well thanks guys but I am not able to build my app..
I changed my Podfile to: `pod 'XWebView', :git => 'https://github.com/Cloudage/XWebView.git'` why is that not working?

f.ex.
`use of unresolved identifier 'FixSwift22'`

[2016-03-22 17:11] jameshartt commented on #39
Dude, who cares about your app but you...? :stuck_out_tongue:

It's probably because the Podspec file doesn't have any reference to the new Objective-C files, the person who made fork, likely doesn't use Cocoapods and uses something like Carthage. You could fork their repo and add the extra source and header files. The Podspec has enough comments to help you out, or go to the Cocoapods website and

[2016-03-22 18:00] robin7331 commented on #39
Jeah dude, thanks.

Here's the thing. It is interesting to me how to generally use a forked repo that has fixed something instead of the main repo. Sometimes I'd like to do some changes on my own and use my fork.
Did not know how to do that till now.

So thanks and cheers!

[2016-03-23 20:08] xwv commented on #39
@jameshartt , please forget my last try. Yesterday, I spent 4 hours to upgrade my mac to 10.11 and Xcode to 7.3. Today I spent another 4 hours to found a perfect workaround without hacking.  I will submit an PR soon.

[2016-03-23 21:28] jameshartt commented on #39
Amazing, I'm looking forward to seeing the result!

[2016-03-25 21:01] xwv commented on #39
@jameshartt , please take a look at #42 .

[2016-03-27 19:17] xwv commented on #39
Fixed.

[2016-03-27 19:17] #39 closed, assigned to nobody

[2016-03-29 17:26] samingle commented on #39
Is this going to be bundled into a pod release? The version in Cocoapods is still non-functional for Swift 2.2.

[2016-03-29 17:52] xwv commented on #39
Indeed, I'll publish a new version on Cocoapods.

[2016-03-30 18:39] PixelsCommander opened #44 "Update cocoapods repository to support Swift 2.2"
Could you please update cocoapods version to be 2.2 compatible? Thanks

[2016-03-30 19:15] xwv commented on #33
This should be fixed with this [commit](https://github.com/XWebView/XWebView/commit/ad5751b742e481c43a35eda99c3d2d3161feda96) finally. This feature it's not well tested.

BTW, you should always use the same serial queue while loading a plugin into multiple webview, unless the plugin supports concurrency by design.

[2016-03-30 19:15] #33 closed, assigned to nobody

[2016-04-03 18:25] samingle commented on #44
+1

[2016-04-03 20:26] xwv commented on #44
Yes, I'll update it soon.

[2016-04-04 20:03] xwv commented on #44
[The new version 0.9.5 was just published on Cocoapods](https://cocoapods.org/pods/XWebView).
It seems that Cocoapods is approaching 1.0 release. I have not tested against the beta release. Please report bugs if any, thanks.

[2016-04-04 20:03] #44 closed, assigned to xwv

[2016-04-04 20:22] xwv opened #45 "Remove iOS 8.x support"
I plan to remove the code for iOS 8.x support in the near future. If you have concerns, please raise here.

FYI: The iOS 8.x [version statistics](https://developer.apple.com/support/app-store/) and [trend(nonofficial)](https://mixpanel.com/trends/#report/ios_8/from_date:-29,report_unit:day,to_date:1).

[2016-04-06 07:36] yeti23 commented on #35
We use XWebView on iOS and OS X (easy port). We have this error only on OS X.

2016-04-06 09:26:02.824 EXAOCampusX[24800:2374861] An uncaught exception was raised
2016-04-06 09:26:02.824 EXAOCampusX[24800:2374861] **\* -[NSConcreteMutableData subdataWithRange:]: range {0, 310} exceeds data length 308

Adding this code to fix it.
if base.distanceTo(ptr) < inputBuffer.length {
...

[2016-04-06 08:21] xwv commented on #35
@yeti23, have you identified the root cause?
If yes, could you please submit a PR for the bug?
Meanwhile, I would like to pull your OS X porting.

[2016-04-06 09:13] yeti23 commented on #35
I haven't identifier the problem. I join the iOS/OSX version.
You can easy reproduce the error on OS X. Just remove my comment in
XWVHttpConnection.

I have added an http connexion on iOS 9, because we needed an ajax
called. Else we get a CORS error.

[2016-04-07 17:18] xwv commented on #35
@yeti23 , I think my patch can fix it. Could you please have a try to confirm? Thanks.

[2016-04-20 16:26] #32 closed, assigned to nobody

[2016-04-22 23:48] nfarina opened #47 "Example for instantiating native classes?"
I'm trying to figure out how to use this functionality described in the README:

I tried passing `MyClass.self` to `loadPlugin`, and that does seem to create a `MyClass` global in JS, but I can't figure out how to instantiate `MyClass` in JS. Calling `new MyClass()` doesn't work of course.

Any tips?

[2016-04-25 17:30] xwv commented on #47
Please see the [Echo](https://github.com/XWebView/Sample/blob/master/Sample/Plugins/Echo.swift) sample plugin. For constructor, you have to implement the `scriptNameForSelector:` method, return empty string while the input selector is the designate initializer for constructor. The initializer will be invoked while a new instance is created on script side.

To load a constructible plugin, you have

[2016-04-25 18:20] nfarina commented on #47
Thanks so much for the instruction! I got it working with your help - I was missing the part where I needed my class to conform to the `XWVScripting` protocol.

I didn't know about the Sample project - it's extremely helpful. I would suggest linking to that from the XWebView main repository. I'll make a PR in case you'd like to do that.

[2016-04-25 18:20] #47 closed, assigned to nobody

[2016-04-25 19:22] nfarina commented on #45
Are there significant advantages to dropping iOS 8.x support?

Our team generally targets the last major version behind the current release version. So we wouldn't be able to drop iOS 8 until after iOS 10 is officially released.

[2016-04-27 19:30] xwv commented on #45
Your concern does make sense. Thanks for the feedback.
Actually no significant advantages, just remove some hacking code.

[2016-05-19 10:30] trevorwang opened #49 "How to convert XWVScriptObject to a dictionary"
[code]

[code]

I have loaded the `PostAciton` as a plugin

[2016-05-19 11:37] xwv commented on #49
I guess you want to pass the `message` by value(dictionary) instead of reference(XWVScriptObject).

XWebView will pass parameter by value if its type is null, string, number, boolean or a simple object type. A simple object type means itself and its descendant must be one of following object types:
`ArrayBuffer`, `Blob`, `Boolean`, `DataView`, `Date`, `File`, `FileList`, `Float32Array`, `Float64Ar

[2016-05-29 14:06] almaz1213 opened #50 "can't Import XWebView"
Hi guys,

I've installed by pod, but the line Import XWemView in code gives "/iosapp/ViewController.swift:11:8: Cannot load underlying module for 'XWebView'

see attachment
<img width="400" alt="screenshot 2016-05-29 18 59 55" src="https://cloud.githubusercontent.com/assets/17139263/15633853/6da1c886-25d0-11e6-83cc-d224abad5a8d.png">

How can I solve this issue?

Thanx

[2016-05-29 14:31] almaz1213 commented on #50
xcode 7.3.1

[2016-05-30 07:44] almaz1213 commented on #50
seems it started to work for me.

So, what did I do?
1. uninstalled all other frameworks (firebase, in my case) and other thirdpath plists (GoogleService-Info in may case)
2. quite xcode
3. installed XWebView
4. opened and closed xcode
5. installed other frameworks back

[2016-05-30 09:15] #50 closed, assigned to nobody

[2016-05-30 10:38] almaz1213 opened #51 "XWebView.loadPlugin"
Hi guys,

The code works.
Javascript that is loaded to the WebView calls window.injectedObj.toString("text"). It must fire toString function of jsObj in the ios app. But in the ios app hapennes nothing.

How can I send info from WebView to ios app?

Thanx

The code piece:

`import UIKit
import WebKit
import XWebView

class jsObj:AnyObject{
    func toString(s:String) -> String{
    print("STATE",

[2016-05-30 11:56] almaz1213 commented on #51
OK guys. seems I solved it by adding @objc before functions of the injected object.

thanx for the good framework!

[2016-05-30 11:56] #51 closed, assigned to nobody

[2016-06-01 08:54] almaz1213 opened #52 "Return from methods"
Hi,

I included XWebView into my code and it works:
WebView!.loadPlugin(jsObj(), namespace: "injectedObj")

In the injected object I have a method:
@objc func getPlatform() -> String{
        print("   PLARFORNN")
        return "{\"code\":1}"
    }
it works and prints on the iOS emulator console.

But it returns undefined in javascript code:
window.injectedObj.getPlatform();  // = undefined

coul

[2016-06-01 10:42] xwv commented on #52
Native method can't pass the result to JavaScript by return value, because the communication between native and javascript is asynchronous. You have to pass the result back to JavaScript by callback.
Plugin:

[code]

JavaScript:

[code]

[2016-06-01 11:48] almaz1213 commented on #52
nice. works. thanx

[2016-06-01 11:48] #52 closed, assigned to nobody

[2016-06-27 07:58] trevorwang commented on #49
Thanks @xwv .
I fixed this by converting the object to json string and then parsing to object again.

[2016-06-27 07:59] #49 closed, assigned to nobody

[2016-08-22 06:49] SentoCrespo opened #53 "Callback from string type"
Javascript looks like this

[code]

Like this works perfectly:

[code]

How can I init or call JS, by having a string, not a 'XWVScriptObject' as it works if Javascript sent it without ""

Thank you!

[2016-08-22 18:46] xwv commented on #53
I'm not quite understand your question.
You can manually compose a javascript expression and evaluate it.

[code]

These works are what XWVScriptObject try to do for you.

[2016-09-14 13:18] SentoCrespo opened #54 "Swift 3.0 support"
Is it planned or already released? I can't find it.

Thanks!

[2016-09-14 14:04] andriyslyusar commented on #54
I have the same question?

[2016-09-16 08:36] SentoCrespo commented on #54
I tried your branch with CocoaPods but it's failing to compile in Xcode 8.0. Anything special to do there?

Thanks man!

[2016-09-16 08:48] SentoCrespo commented on #54
Further info. I have this in post_install so many pods compile

[code]

I've tried to include it with Carthage like:

[code]

And it fails to compile:

[code]

[2016-09-16 10:37] andriyslyusar commented on #54
It is not possible to mix swift 2.3 and swift 3.0 in the same project. Here is an example of my working pod file.

[code]

I am planning today to finish with fixes to Swift 2.3, make it compatible with Swift 2.2 and create a pull request.

As for swift 3.0 I make an attempt to convert it, but it is >100 mistakes in code. Some of them easy to fix, but C related code changed a lot with https://githu

[2016-09-16 16:44] andriyslyusar commented on #54
Submit #55

[2016-09-17 18:47] xwv commented on #54
Thank @andreyslyusar, I just merged the PR #55.

I'll find some spare time to work on Swift 3.0 support.

[2016-09-17 20:07] SentoCrespo commented on #54
That would be wonderful. Thanks a lot for your effort!

[2016-09-18 05:19] semnyqu opened #56 "use loadPlugin:namespace: VC cannot dealloc"
@property (nonatomic, strong, readwrite) WKWebView *webView;
- (void)viewDidLoad {
  [super viewDidLoad];
  // Do any additional setup after loading the view.
  //webview
  _webView = [[WKWebView alloc] initWithFrame:self.view.bounds configuration:[WKWebViewConfiguration new]];
  _webView.navigationDelegate = self;
  [self.view addSubview:_webView];

[code]

  }

use this  [_webView loadPlugin:js

[2016-09-19 09:00] andriyslyusar commented on #54
@xwv I can push my swift 3.0 branch. I have fixed some issues. I can go ahead with general swift changes, but C and pointers nothing I can fix without spending a lot of time.

[2016-09-19 09:01] andriyslyusar commented on #54
@xwv Can you please push 0.10 to cocoapods repo, so I can update my private repo podspecs with new dependency.

[2016-09-19 19:16] xwv commented on #54
@andreyslyusar , 0.10 had pushed to cocoapods.

For swift 3.0 changes, you can push to the branch swift-3.0.

[2016-09-20 05:22] semnyqu commented on #56
[_webView loadPlugin:js namespace:@"test"];
is a big bug

[2016-09-20 09:35] SentoCrespo commented on #54
That would be really awesome. Swift 3.0 is super needed in the project I'm starting.

Thanks for the effort!!!

[2016-09-20 14:46] xwv commented on #56
Sorry, I don't quite understand the problem you report. I suppose the 'VC' means ViewController, but XWebView doesn't touch any ViewController instance.  So what do you mean about "cannot release vc"? What is your expectation?

[2016-09-21 10:39] OHeroJ opened #57 "Library production of the principle"
Library production of the principle that I do not understand the logic，can talk about it?

[2016-09-21 11:55] ZeroZeroOne-dev opened #58 "promises not working in IOS 10"
Im trying to update our application to be iOS 10 compatible (swift 2.3 for now, XWebView version 0.10.0).

Calls to methods in a XWVScripting class that use promises do not get fired.
Example:

XWVScripting class:

[code]

Webpage:

[code]

The application works fine in iOS 9, but not in iOS 10

[2016-09-21 16:05] #58 closed, assigned to nobody

[2016-09-21 18:54] xwv commented on #57
I don't catch your meaning. What is "Library production"?
BTW, you may express your question in Chinese. I'm able to read and write it.

[2016-09-22 05:51] OHeroJ commented on #57
您好

[code]

这个helloWorld.show可以调用原生的原理？xwebview.js的作用是？

[2016-09-22 14:51] xwv commented on #57
See [Distributed object communication](https://en.wikipedia.org/wiki/Distributed_object_communication).
xwebview.js 的作用是 stub

[2016-09-29 06:43] SentoCrespo commented on #54
Hello guys, is Swift 3.0 branch compiling/working for you?

Thanks!

[2016-10-04 13:55] SentoCrespo commented on #54
Hello there, any news on this? This is keeping me from migrating a whole project to Swift 3 because of this dependency and I'd really love to continue using it.

Thanks once again!

[2016-10-04 20:19] xwv commented on #54
@vCrespoP , sorry for late reply, because I just came back from traveling yesterday.

The Swift 3.0 migration is tough than my imagination. It really changes a lot. A good news is that I have got some progress on dynamic invocation (XWVInvocation.swift), which is the key portion of the project.

[2016-10-05 07:42] SentoCrespo commented on #54
Cool!! Keep it up!! I'm eager to use it when it's ready :D

[2016-10-07 00:20] jonathanapp opened #59 "Lots of compile errors in Xcode 8"
Hi,

I just downloaded the project and I'm trying to build. Loads of errors. Any chance this projected will be updated to work with the latest Xcode?

Screenshot:

http://i.imgur.com/MQRVgf9.png

[2016-10-07 00:27] #59 closed, assigned to nobody

[2016-10-07 00:27] jonathanapp commented on #59
Duplicate

[2016-10-13 13:57] barth-zalewski commented on #54
@xwv how is it going? Any news on XWebView with Swift 3?

[2016-10-18 07:03] SentoCrespo commented on #54
Yeah, update us, we're thrilling to have it :D

[2016-10-19 21:15] xwv commented on #54
@barth-zalewski @vCrespoP , I am sorry to have kept you guys waiting for so long.

I'm working on Swift 3 updating, but I only have 1 or 2 hours per day in average for the work. I had left the project for several months before. You know, during this period, the Swift language and SDK accumulated a lot of changes. Sometimes I felt I was rewriting.

Currently, most of compiling errors are resolved.

[2016-10-20 08:13] fernandodev commented on #54
Hello guys,

Unfortunately, I'm in the same situation. Some months ago I had to change to another project and I couldn't pay support to XWebView because I'm not using on that.

I kindly ask for new contributors and PR's, if you have any improvement, please make smalls PR's that could be easily reviewed and I really would appreciate that.

Thank you

[2016-10-20 08:24] SentoCrespo commented on #54
Let's hope  for David @xwv to be able to achieve the goal. 1-2 weeks sounds completely reasonable.

[2016-10-28 06:54] #56 closed, assigned to nobody

[2016-10-30 20:21] xwv commented on #54
Guys, the update for Swift 3.0 was pushed to swift-3.0 branch. All unit tests are passed on my local machine. Please test the experimental change with your apps and feedback the result and issues. Thanks!

[2016-10-30 20:52] SentoCrespo commented on #54
Yessssss, you're the man! Will try very very soon. Thanks!

[2016-10-31 13:01] ajwhiteway commented on #54
Just a heads up, Float80 is only on OSX so if you are making an iOS app, you'll need to comment out the 3 instances it is referenced.

[2016-11-01 17:45] xwv commented on #54
@ajwhiteway , you're right, thanks. I'll remove it or ifdef it.
BTW, beside OS X, it's also available in simulator. That's why I didn't notice.

[2016-11-01 17:54] ajwhiteway commented on #54
No problem! I was actually going on the thread to offer to lend a hand in the conversion before I noticed you had actually finished it! Well done!

[2016-11-04 14:33] githubdoramon opened #60 "Extend plugin class"
Hi, I tried to create a base class for a plugin, and then extend it to add other functions depending on where I would use, but when I do that, only the new functions work, and not the bsae ones from the initial class. Any ideias why this happens?

Example:

[code]

[code]

If I add ExtendedPlugin, only ble() works, nut no bla()

[2016-11-05 20:03] xwv commented on #60
This is by design. Inherited methods will not be exported to JavaScript.
For workaround, override methods in subclass.

[2016-11-05 20:04] githubdoramon commented on #60
Why this is the expected/design behavior?

[2016-11-06 19:13] xwv commented on #60
In short, this is for simplicity and performance. Because it avoids to go through ancestors of plugin objects.
A principle of design is that plugin object should be proxy object instead of real functional object. See [proxy pattern](https://en.wikipedia.org/wiki/Proxy_pattern)
A proxy object commonly conforms to a protocol rather than inherits methods from super class.

[2016-11-07 19:07] #54 closed, assigned to nobody

[2016-11-07 19:16] xwv commented on #54
I pushed the final change to master branch. I'll release a new version for this to cocoapods soon.
For swift 2.3 support, checkout the swift-2.3 branch please.
Thanks everyone for your support.

[2016-11-07 19:25] xwv commented on #45
iOS 8.x support was removed in Swift 3.0 migration, because the market share of iOS 8 is very low now. This legacy code is still available on swift-2.3 branch.

[2016-11-07 19:25] #45 closed, assigned to nobody

[2016-11-11 07:58] SentoCrespo commented on #54
Sorry to come back to this. Amazing job!

Two things:

1)

I've tried without success getting the 0.11.0 version with Carthage and CocoaPods without success. Is the tag in there?

But I've found that using:

[code]

seems to install 0.11.0 version. I'd like to use Carthage but I can live with this :)

2)

I haven't touched my code, and I'm getting this error:

[code]

Internally calls:

[code]

An

[2016-11-14 09:44] andriyslyusar commented on #54
@xwv @vCrespoP
Thanks a lot for update.

I try latest from master and find that `loadFileURL:overlayURLs` from "XWebView.swift", all "XWVHttpServer.swift", "XWVHttpConnection.swift" are comment out. Is current master version the latest? It seems to me it should be some mistake here.

[2016-11-14 10:35] SentoCrespo commented on #54
I tried using Carthage without success, then CocoaPods but had trouble with them all.

This is my podfile:

[code]

Any advice for Carthage? Any modification needed for the pod? Should I download the project or they have some trouble with dependency managers?

[2016-11-14 13:43] SentoCrespo commented on #54
More info for this, when I try using Carthage:

[code]

[code]

[code]

Warnings:

[code]

Error:

[code]

For the record, if I tri using the stated version in the readme like:

[code]

Then I get an error, maybe is because the commit is not tagged with the version?

[code]

With CocaPods is exactly the same error:

[code]

Btw: Doesn't matter if I try 0.11 or 0.11.0.

Thanks a lot for your time a

[2016-11-15 20:10] xwv commented on #54
@andreyslyusar , the overlay support is disabled in the first patch of swift 3.0 migration, because I want to submit the patch ASAP. I'm working on the feature, but it's still not ready. That why I have not make a release on cocoapods.

@vCrespoP , you can ignore the error "Unsupported type" if the app doesn't crash.
I think it is not ready to release to CocoaPods. Have you tried to use submodule

[2016-11-16 15:55] SentoCrespo commented on #54
The app doesn't crash, but the thing is that the bridging between JS ~> Native is broken. I cannot get any call in my native methods that worked before with Swift 2.2
:(

[2016-11-17 11:32] buscarini commented on #54
Same thing here. It doesn't crash but it doesn't work either

[2016-11-17 14:02] SentoCrespo commented on #54
Pull request #61 performed by @buscarini fixes everything. The problem happened for:
- Not defining variables like _variable (Should be documented somewhere though)
- Dictionaries and arrays were not being transformed to JSON

[2016-11-26 22:03] xwv opened #62 "CI does not work"
This is a regression bug caused by the fix of Carthage in #61 which removed the scheme of test.
Because the CI is important for the project, we need to find another solution for the Carthage problem.

@buscarini , could you please take a look on this? Thanks.

[2016-11-26 22:04] xwv commented on #54
@andreyslyusar , the overlay support is ready now, please test. Thanks.

[2016-11-26 22:14] xwv commented on #35
No update for a long time. And this might be fixed in swift 3.0 migration.

[2016-11-26 22:14] #35 closed, assigned to xwv

[2016-12-05 15:24] ghost opened #63 "Possibility to plugin return values synchronized"
Hi!
I would like to ask whats changes and fixes are neccesary to allow this plugin can return values synchronized and without any callback or promise.

The reason for this is I have a centralized angularJS App that owner not allow me to access to source to modify it.

Thanks a lot!!!

[2016-12-07 02:09] sunweifeng opened #64 "Missing plugin's method"
close

[2016-12-08 08:11] sunweifeng commented on #64
closed

[2016-12-08 08:11] #64 closed, assigned to nobody

[2016-12-08 08:38] soflare commented on #63
It's possible, but very very tricky. And it's also dangerous to make your app unresponsive.

[2016-12-14 11:51] shadone opened #65 "Swift 3 version not available on CocoaPods"
Hi there,

Thanks for making XWebView, I started using it recently and it is pretty awesome.

That being said I am in the process of moving our app to Swift 3 and noticed that despite what the [https://github.com/XWebView/XWebView#xwebview-vs-swift](docs say) the Swift 3 version of XWebView is not available through cocoapods. The latest version that I see is 0.10.0 - see https://cocoapods.org/?q=x

[2016-12-21 17:32] xwv commented on #65
Thanks for your support.
The swift 3 support is considering in beta stage, and I have 2 coming fixes/improvements. Hopefully I can finish them in 2 weeks because I'm quite busy recently.
You can temporarily import the project through git submodule for testing.

[2016-12-24 18:23] xwv commented on #37
Finally, passing by value is supported.
struct, class and even enum types can be automatically converted to JSON with reflection.
Mean while, types which conform CustomJSONStringable (or ObjCJSONStringable for Objective-C) can provide their own JSON representation.

[2016-12-24 18:23] #37 closed, assigned to xwv

[2016-12-24 18:26] xwv commented on #62
Fixed, #61 was reverted.

[2016-12-24 18:26] #62 closed, assigned to nobody

[2016-12-24 18:29] #60 closed, assigned to nobody

[2016-12-25 18:12] xwv commented on #65
I pushed the 0.12.0 version to Cocopods. It supports Swift 3.0.

[2016-12-25 18:12] #65 closed, assigned to nobody

[2016-12-28 20:06] xwv commented on #31
Swift Package Manager is currently too weak to support XWebView. It can't copy resource files, can't build frameworks, doesn't support iOS ...

The issue may be reopen when it ready.

[2016-12-28 20:06] #31 closed, assigned to nobody

[2016-12-30 12:43] indrajitsinh opened #68 "Webrtc Support ?"
its's great project , but does this support webrtc ?

[2016-12-30 19:53] xwv commented on #68
Thanks for support.

XWebView does not support WebRTC. It just provides a bridge between JavaScript and native code.

WebRTC may be implemented as a plugin of XWebView for iOS. I would like to see that, but I have no time to do in short term. If anyone has interest in this, I will fully offer my support.

[2017-01-05 14:29] andriyslyusar opened #69 "Semantic Versioning issue"
Swift 3.0 release with version 0.11 break semantic versioning. This is a breaking change and require major version bump, as a result I will need to update all my projects to use specific version instead of optimistic version. Please take in account releasing update next time.

[2017-01-12 00:04] randomiser commented on #30
Can you also add some examples on how to use this XWebView function:

[code]

[2017-01-20 00:23] jonathanapp opened #71 "Local file access?"
I heard about this project while trying to overcome the classic no-local-resources limitations of a local .html inside a WKWebView.

Can this be a future goal?

[2017-01-20 10:37] soflare commented on #71
The primary goal of the project is to build a bridge to simplify the communication between native code and javascript.
In reality, to make app developers' life easier for adoption WKWebView, we try to provide workaround or enhancement for system webview. This is not a goal, but we accept such features if reasonable.

[2017-02-16 00:16] shirakaba opened #72 "WKWebView.loadPlugin() does not add plugin to 'window' in the webView's JS environment."
I am trying to call a Swift function (which returns a String array) from the JavaScript environment of my webView.

I have copied your quick start instructions and tried your sample app. I am receiving no compile-time errors, yet when I run webView.evaluateJavascript(), no reference to my plugins are ever found.

Here is my ViewController.swift:

[code]

Upon webView finishing navigation, I'd like

[2017-02-16 08:32] xwv commented on #72
1. Only instance methods will be exposed. In your case, remove `static` keyword or `loadPlugin(Tokenising.self, namespace: "Tokenising")`
2. Return value of method can not be passed to javascript, see #52 .

[2017-02-16 08:42] xwv commented on #72
`webView.evaluateJavaScript("window.helloWorld.show();", completionHandler: {`

It should be `window.HelloWorld.show()`, because you registered the object in "HelloWorld" namespace. it is case sensitive.

[2017-02-16 09:47] shirakaba commented on #72
Thank you for your quick response!

I've tried several things, on your advice:

1. Loading the plugin (as written above), but as `Tokenising.self`.

2. Removing the `static` keyword on the `romaniseobj` function and loading the plugin `Tokenising()`.

3. Fixing the letter case on 'HelloWorld' (sorry, it was correct in the source code, but I mistyped it when copying it to this Issue).

... but the

[2017-02-16 09:55] shirakaba commented on #72
I see. I'll try rewriting my `Tokenising.romaniseobj` function tonight when I have time.

[2017-02-16 18:26] xwv commented on #72
You can use safari attach the webview to check whether the user scripts generated by XWebView is injected into page. Please paste here if you find them.

I can't find the root cause by eyes. You need to minimize the code of the test case to demonstrate the problem. If you can share a buildable project, I will try to debug it.

[2017-02-17 00:54] shirakaba commented on #72
Just finished some further investigation. Looks like I was wrong about there being no 'Tokenising' or 'HelloWorld' object on the window (I simply didn't see it - my bad), but the function names were not what I'd expected, and that was causing the error.

    func show(text: AnyObject?) {
        /* ... */
    }

The problem is that no external name had been set for the 'text' parameter of the `sho

[2017-02-17 00:54] #72 closed, assigned to nobody

[2017-02-19 22:17] shirakaba opened #73 "Upon reloading a plugin, userScripts are disabled."
On first startup, I'd like to load a plugin into my webView:

- `webView.loadPlugin(Tokenising("zh-Hans"), namespace: "Tokenising")`

Later, when an action button is pressed in the toolbar, I'd like to re-initialise the plugin and load it in again to the same namespace:

- `webView.loadPlugin(Tokenising("ja"), namespace: "Tokenising")`

A user script is added, which should call a function from the

[2017-02-21 18:46] xwv commented on #72
The guide was quite old. The problem caused by the swift change [SE-0046](https://github.com/apple/swift-evolution/blob/7fcba970b88a5de3d302d291dc7bc9dfba0f9399/proposals/0046-first-label.md).
Thanks for updating the guide.

BTW, I keep updating the [sample app](https://github.com/XWebView/Sample) with the library.

[2017-02-21 19:16] xwv commented on #73
Perhaps you need to unbind the plugin object before refresh.
[code]

I have never tried this before, and refreshing is not tested.

[2017-02-21 20:46] shirakaba commented on #73
Thank you for the input. I've just tried that, and unfortunately it appears to have the same behaviour.

Note: if I try to refresh the plugin object more than once (via my original methodology, or via your bind/unbind methodology), this error is thrown:

[code]

To be clear, this error isn't thrown after just the first refresh. I don't know whether this is of any help.

For now, I'll work around t

[2017-02-26 19:39] bounin opened #74 "Is it possible for bridging object return some value in functions?"
I tried to use your framework. Everything work perfectly except all functions returning something to javascript always show result as undefined in java script. For object properties everything is OK.

For example if my object has func1 returning string and in javascript I do:
var a = bridgingobject.func1(); // I get result undefined even the func1 defined as returning String (or NSString *). But i

[2017-02-26 19:41] bounin commented on #74
Cannot be that related to the fact I loading web page from local storage?

[2017-02-26 19:48] xwv commented on #74
Please see #52.

[2017-02-26 21:54] bounin commented on #74
But how is the getting the value of the property works? It is essentially just getter function internally. And you get no problem with asynchronous calling it and get result back in one step.

[2017-02-26 22:23] shirakaba commented on #73
While we cannot reload plugins with a new object, I have learned that it is possible to dynamically update properties on plugins that have already been loaded into the webView, thus circumventing the need to reinitialise the plugin. If it is of help to anyone, here is how I am doing it:

[code]

As coding using this pattern is equally effective, I am closing this issue.

[2017-02-26 22:23] #73 closed, assigned to nobody

[2017-02-26 22:51] shirakaba commented on #74
I believe this is simply because when Javascript accesses a property on the bridging object, it just visits the address in memory for it and takes the value that is available at that exact moment. As you say, in this case, it works effectively like a getter.

**Edit:** Got confused when writing the initial reply - have removed this paragraph.

I think that invoking a Swift bridging object's method

[2017-02-28 13:27] xwv commented on #74
From javascript perspective, invoking a native function (or a setter) is sending a message. Somewhat like the behavior of event or xmlhttprequest, but totally different. The messaging interface is only available in WKWebKit framework. Script continues running while native is processing messages. To pass result back to javascript, native has to evaluate a callback function (in global scope).

Each

[2017-03-01 07:20] igoMobile opened #75 "Pod version '0.12.0' seems not to work"
Hi Guys,
I'm trying to integrate XWebView into my project with cocoapods:

`pod 'XWebView', '~> 0.12.0'`

But the version seems not to be available. I get this as response:

[code]

If I run

`pod search XWebView`

from console, I get this:

[code]

The version array finishes with 0.10.0...

[2017-03-01 10:19] shirakaba commented on #75
Are you targeting an old version of Swift? The 0.10 version maps to Swift 2.3 and newer versions of XWebView map to Swift 3+.

Not that I'm an expert with Podfiles, but I set up my own Swift 3.0.2 project with XWebView 0.12.0 using that exact Podfile about three weeks ago, so I suspect that the podfile itself is at least correct.

[2017-03-01 10:33] igoMobile commented on #75
Thanks for your quick reply! I use Swift 3.0.2 in my project. I'm also not an expert with pod files, but I suspect, this might be the issue. Here is the full error message when running pod install from console:

[code]
It looks like the pod is not available anymore. That's why I tried to search for pod's available versions with this command: `pod search XWebView` The highest available version seem

[2017-03-01 10:59] shirakaba commented on #75
I wonder why. Might be a question for @xwv . In the meantime, I can try sending you a zip of my 0.12.0 install so you can at least get developing until the problem is solved. I'll be able to do that in 2-3 hours from now, during my lunch break.

[2017-03-01 12:10] shirakaba commented on #75
I just checked on [cocoapods.org](https://cocoapods.org/?q=xwebview) and it does seem to say that version 0.12.0 should be available. How about removing the '.0' from the end of the version number, as the webpage auto-generates the following Podfile config:

[code]

Failing that, update cocoapods..? And failing that, I'll send you a zip of the current version later.

[2017-03-01 12:53] igoMobile commented on #75
Thanks for your help. I updated my cocoapods from 1.1.0 to current version 1.2.0. Same error message.
I also tried out these variants:

[code]

Unfortunately, nothing helps. I'd try now to setup a new project and see wether it works in a fresh project.
Yes, could you send me please the zip file with the latest sources? Great thanks in advance!

[2017-03-01 13:18] igoMobile commented on #75
I found the cause and the fix for it! My Cocoapods setup was broken...s. [this](http://blog.cocoapods.org/Repairing-Our-Broken-Specs-Repository/).

And here is the fix. Just execute the commands below in your terminal

[code]

[2017-03-01 14:17] shirakaba commented on #75
Well done for tracking that down! Glad I didn't have to figure out how best to share that file. Please could you mark this issue as closed 👍

[2017-03-01 14:33] igoMobile commented on #75
sure! thanks for your support!

[2017-03-01 14:33] #75 closed, assigned to nobody

[2017-03-02 05:24] bounin commented on #74
Thank you, now it is clear. Property getter is only used by native part. And looking through the code you update JS counterpart property via KVO when value changes.

[2017-03-05 20:49] shirakaba opened #76 "Library not loaded: @rpath/XWebView.framework/XWebView"
I'm having this issue when trying to run a project using XWebView on my iPhone for the first time. Not sure whether this problem is on my side or XWebView's side; are you familiar with this kind of error?

[code]

[2017-03-05 20:52] shirakaba commented on #76
Note: highly possible that this problem is on my end, due to the Developer site having issues with my account. If not, interested if anybody has experience with this, however.

[2017-03-08 09:10] rasc42 opened #77 "Problem with promises"
I'm trying to use a code similar to issue #58 and I'm getting a

XWVScripting class:
[code]

JavaScript:
[code]

I have also tried to do it like in issue #58:

[code]

But then I had another error, this time in JavaScript runtime saying that Bridge.getValue() was undefined.

[2017-03-08 12:14] xwv commented on #77
This is a known issue.

Currently, to indicate that the method returns promise, the external name of the last parameter must be `promiseObject`. This behavior causes naming issue when it's the only parameter.
If the native function signature is `func getValue(promiseObject promise: XWVScriptObject)`. In javascript, the function name will be `getValueWithPromiseObject`. Yes, it's ugly.

To workarou

[2017-03-08 14:03] rasc42 commented on #77
Oh nice, thanks a lot for the quick and helpful answer.

[2017-03-11 12:04] shirakaba opened #78 "[CFRunLoopTimer hash]: message sent to deallocated instance 0x60000037da00"
Quite often when loading a webpage, `XWVObject.denit()` crashes my program, on the line `webView.evaluateJavaScript(script, completionHandler: nil)`. This behaviour is inconsistent, so it is difficult to reproduce on demand. I have no experience debugging memory errors, so I don't know exactly what information to provide.

## The line on which the program crashes:

<img width="1258" alt="xwvobject

[2017-03-13 00:18] shirakaba commented on #76
Circumvented this by switching to the developer profile of another Apple account and changing my bundle identifier.

[2017-03-13 00:18] #76 closed, assigned to nobody

[2017-03-29 04:45] vanvalkenburg opened #79 "Build error with Swift 3.1"
Building XWebView with Xcode 8.3 (which includes Swift 3.1) fails with compile error: [...]/Pods/XWebView/XWebView/XWVMetaObject.swift:88:32: Deinitializers cannot be accessed

[2017-03-29 17:54] xwv commented on #79
Can anybody confirm this issue? I can't install Xcode 8.3 because my macbook doesn't support 10.12.

[2017-03-30 07:57] buscarini commented on #79
confirmed. Happens here:

    let plugin: AnyClass
    fileprivate var members = [String: Member]()
    private static let exclusion: Set<Selector> = {
        var methods = instanceMethods(forProtocol: XWVScripting.self)
        methods.remove(#selector(XWVScripting.invokeDefaultMethod(withArguments😊))
        return methods.union([
            #selector(NSObject.deinit),
            #selector(NS

[2017-03-30 08:02] buscarini commented on #79
By the way, even after commenting that line it still doesn't compile, as it crashes the compiler:

    1.	While emitting IR SIL function @_TF8XWebView7jsonifyFGSQP__SS for 'jsonify' at /Users/josanchez/prog/forks/XWebView_treenovum/XWebView/XWVJson.swift:94:1

[2017-03-30 08:04] SentoCrespo commented on #79
+1 Please. Happens here as well.

[2017-03-30 08:06] buscarini commented on #79
I changed the exclamation point there to an interrogation point and then it compiled:

    func jsonify(_ value: Any!) -> String {

to

    func jsonify(_ value: Any?) -> String {

[2017-03-30 17:45] xwv commented on #79
@buscarini The jsonify issue was fixed in this [change](https://github.com/XWebView/XWebView/commit/454950082e228d49283245bb919f154d2678504c).

[2017-03-30 17:56] vanvalkenburg commented on #79
The build error disappears when commenting out the offending line `#selector(NSObject.deinit),`, though I cannot judge if that is an appropriate solution

[2017-04-01 19:52] xwv commented on #79
@vanvalkenburg , It should be OK to replace `#selector(NSObject.deinit)` with `Selector(("dealloc"))`.
It seems that the dealloc selector is no longer accessible in Swift 3.1.

[2017-04-06 10:52] shadone commented on #79
Hi. @xwv is there any update on this? I've created a pull request removing the use of `#selector(NSObject.deinit)` and it seems to be working fine with Swift 3.1 not breaking anything else:
https://github.com/XWebView/XWebView/issues/79

[2017-04-07 13:35] xwv commented on #79
Thanks for everybody's contribution.

BTW, I'm very happy to see more and more developers like and use the project. But I'm very busy on both working and personal affairs recent months. Please let me known if anyone is willing to maintain and contribute the project regularly, I would like to grant permissions to him/her.

[2017-04-10 09:15] shadone commented on #79
@xwv We are using XWebView internally in a beta project (and I am loving it thanks for working on it!). I wish I could say we will contribute back but at the moment I am the only iOS developer on the team and have limited amount of time. I wouldn't mind to help maintaining this project to the best of my abilities though, I will also raise this question internally.

In a mean time it would be amazi

[2017-04-18 10:54] MengdanCode opened #82 "Return value through callback giving error. TypeError: window.HelloWorld.imageSource is not a function."
Hi I'm trying to implement XWebView in my project by following the sample code. And I'm trying to pass a image file in base64 format from swift back to the webview and display it on html. I tried to follow the example given in #52 but I'm getting this error:

My swift code looks like this:
[code]

And my javascript looks like this:

[code]

I'm not too sure which part I did it wrongly.

[2017-04-18 21:15] shirakaba commented on #82
Is the imageSource function part of a class called HelloWorld, and did you load that class as a plugin into your WKWebView? Also, are you calling the Javascript on the correct Javascript context (ie., the one that you loaded HelloWorld into, rather than a separate one)?

[2017-04-23 17:59] xwv commented on #82
You'd better to change the function signature to: `func imageSource(_ callback: XWVScriptObject)`
See #77 for details.

[2017-04-23 18:47] xwv commented on #79
I have published 0.12.1 on cocoapods, sorry for the tardy release.

@shadone , do you have a [cocoapods account](https://guides.cocoapods.org/making/getting-setup-with-trunk.html)? I can add you as contributor, so you can publish new release when I absent.

[2017-04-23 18:47] #79 closed, assigned to nobody

[2017-05-12 11:29] noahcgreen commented on #71
If it helps, I've just started a [new project](https://github.com/noahcgreen/WKFileAccess) which uses this framework to add file access to WKWebView. Check it out if you're interested.

[2017-07-08 07:03] semnyqu opened #83 "xwebview iOS8.*"
how to support ios 8.* in swift3.*

[2017-07-13 09:53] mihey8800 opened #84 "Errors while loading html"
Hello, i have troubles while using xwebview.

I have sample html with empty js.
[code]

I'm trying to load it into xwebview. (Without loading any plugings etc.) Just simple url loading.

CaptionBrowser is wkwebview in .xib file
delegates are added
[code]

Errors:

**2017-07-13 16:52:40.774796+0700 DeskAlerts[12207:488329] WKWebView(<DeskAlerts.CustomView: 0x6000001a2300>) is ready for loading plug

[2017-07-13 11:10] mihey8800 commented on #71
@jonathanapp have you solved this?

[2017-07-13 11:14] mihey8800 commented on #63
@mraffo have you solved this?

[2017-07-13 12:25] #84 closed, assigned to nobody

[2017-07-13 18:08] xwv commented on #83
Sorry, the support of iOS 8.x was removed before migration of Swift 3.
You can check the old version of XWebView.swift file and bring it back for your apps.

[2017-07-14 17:41] jkerrwilson opened #85 "Swift 4 Issues"
I've downloaded the iOS 11 preview which includes Swift 4 migration, and some build errors appear for the project.

I'll list any issues I find as I migrate my app to swift 4 here, as well as any solutions I find to any of this.

[code]
Compiler errors can be resolved for the above by adding:
[code]
To MetaObject. To be tested if this is actually correct in anyway. I have no idea what I'm doing.

[2017-07-14 19:52] jkerrwilson commented on #85
More stuff with the tests. It seems implicit objc entry points are deprecated and throw in Swift 4. Not a huge deal, @objc just needs to be added in a lot of places to make the objc entry point explicit.

[2017-07-18 16:11] xwv commented on #85
Thanks a lot. Go on please, I'm looking forward your PR 😃
Currently, I have no time and hardware to do this work. Sorry for that.
Any question about the source code, please raise here, and I will help you.
BTW, I suggest that you should try to migrate to 3.2 firstly.

[2017-07-19 23:31] jkerrwilson commented on #85
I have a compiling version, that seems to run okay inside my app, but not all tests are passing at the moment. How to fix the remaining issues might be beyond my iOS experience.

I'm happy to put what I've done so far on a branch for others to look at, work on, and use. I do not know how much more time I will be able to put into this.

[2017-09-04 07:06] semnyqu commented on #83
Why?
so unreasonable!

[2017-09-04 07:43] semnyqu opened #87 "New version not support Object-c?"
New version not support Object-c?
Xcode8.3, requeried swift3++, use tag 0.12.1 source code;
How to used in object-c project?

[2017-09-05 05:52] semnyqu opened #88 "[WKWebView loadPlugin:namespace:]: unrecognized selector sent to instance *****"
[WKWebView loadPlugin:namespace:]: unrecognized selector sent to instance *******
use XWebview 0.12.1 framework;
Xcode 8.3

Source code 👍
[_webView loadPlugin:plugin namespace:@"Test"];

[2017-09-05 09:46] semnyqu commented on #88
Use XWebview source code in my project;
<img width="1118" alt="default" src="https://user-images.githubusercontent.com/14885293/30055453-19133cfa-9262-11e7-8664-551b2960cd46.png">

[2017-09-07 15:19] soflare commented on #83
The marketshare of iOS 8.x is very low now.
Please see the [official iOS version statistics](https://developer.apple.com/support/app-store/) and [an unofficial one](https://david-smith.org/iosversionstats/).

[2017-09-07 15:22] soflare commented on #87
[Using Swift with Cocoa and Objective-C](https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/index.html)

[2017-09-07 15:34] #83 closed, assigned to nobody

[2017-09-21 17:58] chapayGhub opened #89 "Crash in sample app when press on "Echo" button"
[code]

**Crash stacktrace**
<img width="1907" alt="screen shot 2017-09-21 at 20 56 16" src="https://user-images.githubusercontent.com/878464/30710852-86d60a7e-9f0f-11e7-80ea-247bf82cef53.png">

**New Xcode9 Warning** :)

[code]

<img width="1222" alt="screen shot 2017-09-21 at 21 11 10" src="https://user-images.githubusercontent.com/878464/30711472-7d9ae6e4-9f11-11e7-947c-5d592d8799b6.png">

PS
X

[2017-09-21 20:17] SalvatoreAD opened #90 "Xcode 9 Problem"
this is the error

`Instance member 'exclusion' cannot be used on type 'XWVMetaObject'`

in XWVMetaObject.swift

Can you help me?

[2017-09-26 16:12] SalvatoreAD commented on #89
I have the same issue

Use this code for every evaluateJavaScript function
[code]

and remove Main Thread Checker
<img width="1512" alt="bibgn" src="https://user-images.githubusercontent.com/15673743/30879785-c037f760-a300-11e7-9dc4-f7da4f9552a6.png">

[2017-10-09 04:15] aahad commented on #90
I am facing the same issue, so far any quick fix if no update is available yet ? Thanks

[2017-10-09 05:33] aahad commented on #90
I fixed it by adding below piece of code:

[code]
Reference:  [XWebView/XWVMetaObject.swift](https://github.com/XWebView/XWebView/pull/86/files#diff-4c8d5e8d5be1cfa08d83b3178200e35e)

[2017-11-06 14:33] aahad opened #93 "Page change is removing/unbinding Plugin functions - $references[1]' is undefined"
We are facing an issue in which loaded plugins are being unbounded/undefined.

**Case 1**: Our apps open XWebview with a "/login" URL and then user enters credentials to go inside "/dashboard" of the App. Now in this flow all the loaded plugins work well.
**Flow 1**: login -> dashbaord

**Case 2**: But when user logs in and then logs out of the app and goes back to "/login" screen and then tries t

[2017-11-06 17:51] xwv commented on #93
I know nothing about your app's logic. I guess you retained a javascript callback during the 1st session, but tried to call it during the 2nd session.

[2017-11-06 17:55] xwv commented on #90
The fix is included in #91
Thanks.

[2017-11-06 17:55] #90 closed, assigned to nobody

[2017-11-06 18:01] xwv commented on #85
Thanks for the helpful PR.

[2017-11-06 18:01] #85 closed, assigned to nobody

[2017-11-06 18:03] #87 closed, assigned to nobody

[2017-11-06 18:17] xwv commented on #89
The issue had fixed in #91.
A new method named asyncEvaluateJavaScript is added to WKWebView.

[2017-11-06 18:17] #89 closed, assigned to nobody

[2017-11-07 03:09] aahad commented on #93
I think somehow your guess is near to correct. But the callback is not bound to a session of the app. I saw every-time XWebview visits a page, it creates a new instance. So probably the instance initially created was bound with plugins and then when page changed and new XWebview instance came, then it is no longer able to find the plugins.

[2017-11-08 03:56] aahad commented on #93
I changed below line of code and it fixed my issue.

**Original Code:**
[code]

only changed **if** condition:
` } else if reference >1, let origin = origin {`

Actually this code is triggering a **delete $references** inside the **$releaseObject** method of the generated **XWVPlugin** js.

As per my understanding, when App gets initialised it creates **$references** for each plugin and when a plu

[2017-12-04 05:10] limxing opened #94 "Something is wrong in xcode9.1"
../Pods/XWebView/XWebView/XWVBindingObject.swift:53:22: 'performSelector' produces 'Void', not the expected contextual result type 'AnyObject!'

../Pods/XWebView/XWebView/XWVBindingObject.swift:87:44: Missing argument label 'inBackground:' in call
......
81 issues

Anyone who encounter it and how to solve? Thank you

[2017-12-04 17:42] xwv commented on #94
Could you please try to build the code fetched from GitHub instead of CocoaPods.
CocoaPods release is outdated.

[2017-12-07 07:26] semnyqu commented on #94
why not update the CocoaPods release ?@xwv

[2017-12-14 13:40] xwv commented on #94
@semnyqu , I have very limited time to maintain the project, and I'm not even using it now. If you or someone else want to help, I can delegate the Cocoapods maintenance to you or him/her.

[2017-12-15 00:58] limxing commented on #94
为啥没时间@xwv

[2017-12-15 09:50] xwv commented on #94
@limxing I have work to do, especially very busy recent months. And also I have family to take care. I only spend spare time on this project. The Cocoapods maintenance is somewhat boring, I'd rather spend time on new features. There are some commits in [my development repo](https://github.com/xwv/XWebView/commits/master) are waiting to push.

BTW, It seems many users are from China. I'd like to cr

[2018-01-16 09:21] #94 closed, assigned to nobody

[2018-01-30 05:29] yeshbourne opened #95 "referencing the issue here"
https://github.com/XWebView/Sample/issues/5

[2018-01-30 21:08] yeshbourne commented on #82
@MengdanCode it's better to have @objc prefix before your method. E.g

@objc  func imageSource(callback: XWVScriptObject) {
        print(" PLARFORNN")
        callback.call(arguments: [strBase64], completionHandler: { result, error in
            print("Completed Javascript evaluation.")
            print("Result: \(result)")
            print("Error: \(error)")
        })
    }

[2018-01-30 21:09] #95 closed, assigned to nobody

[2018-01-30 21:10] yeshbourne commented on #95
Fixed it by adding @obj prefix before the method in plugin

[2018-05-01 16:30] fgagneten opened #97 "localhost app on REAL device?"
After installing this plugin, I had to put in my api response:

    	header("Access-Control-Allow-Origin: http://localhost:8080");

Is it ok?

Now I'm getting "Index - localhost" when I want to debug my iOS app on a  real device.
What I don't understand, Why do I get "localhost" in my app when I'm debugging iOS Ionic app in my REAL device?  Also I think I get a problem with my analytics plugin bec

[2018-05-02 10:51] xwv commented on #97
The 8080 port number is not used by XWebView. You need to check other frameworks which are using by your app.
Regarding the HTTP header, see [CROS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) for details.

[2018-05-21 19:42] hiteshborse12 opened #98 "Not able to create ipa file for app store."
Successfully integrated XWebView project in my project.
Now want to submit iPA to the app store. But when I am creating iPA ,organizer window showing 2 different thing one is my project and other thing is XWebView framework. Code is working fine on simulators but iPa is not working.
Let me know is there any steps to add XWebView project and is there any need to change settings so I can make workin

[2018-05-21 19:47] hiteshborse12 commented on #98
Its urjent so plz help met

[2018-05-21 20:56] hiteshborse12 commented on #98
Solved. Now using cocpods : https://cocoapods.org/pods/XWebView

[2018-05-21 22:43] hiteshborse12 commented on #98
XWebView cocoa pods not supported for swift 4

[2018-05-22 06:58] hiteshborse12 opened #99 "Swift 4 cocoapods"
Please update cocoapods to support Swift 4

[2018-05-23 19:42] #98 closed, assigned to nobody

[2018-07-25 12:18] codaman opened #100 "is it possible to use in objective c project"
is it possible to use in objective c project

[2018-07-25 13:25] #100 closed, assigned to nobody

[2018-12-24 13:13] #69 closed, assigned to nobody

[2019-02-04 22:13] dimitrirostavo opened #101 "Support for Swift5?"
Hey guys - do you have support for Swift 5?

[2019-05-10 06:49] semnyqu opened #103 "XWVBindingObject.performSelector线程错误"
![image](https://user-images.githubusercontent.com/14885293/57507806-5d286c00-7332-11e9-8c02-0f023cbda44f.png)

performSelector queue.sync: on_queue_fulfillmentToken
00selector: on_queue_fulfillmentToken
以上是调试的信息，出现on_queue_开头的方法，基本都会崩溃
崩溃位置如上图

[2019-05-13 02:59] semnyqu commented on #103
if let isExcluded = cls.isKeyExcluded(fromScript:), name.withCString(isExcluded) {
                        return true
                    }
@xwv
请教个问题，这个方法始终没有想明白，前面的参数传入的是哪个，我调试的时候发现isKeyExcluded用的貌似是name；还有后面的withCString怎么能使用一个bool的返回值；
请楼主赐教，谢谢

[2019-05-13 04:02] semnyqu commented on #103
if let isExcluded = cls.isKeyExcluded(fromScript:), name.withCString(isExcluded) {
return true
}

![image](https://user-images.githubusercontent.com/14885293/57595352-052e7700-7577-11e9-8dbf-b3e64eb96874.png)

@xwv
请教个问题，这个方法始终没有想明白，前面的参数传入的是哪个，我调试的时候发现isKeyExcluded用的貌似是name；还有后面的withCString怎么能使用一个bool的返回值(单独使用报错)；
请楼主赐教，谢谢

[2019-05-26 00:17] xwv commented on #103
@semnyqu, sorry for my late reply. I'm not actively working on this project.

I need more detail information about the 1st question. What are the results of unit tests(the XWVInvocationTest.swift especially)? It would be helpful if you write a minimaized and runnable code snippet to demonstrate the problem.

Regarding the 2nd question, `isExcluded` is funtion type, not bool.

[2019-05-28 02:44] semnyqu commented on #103
@xwv
非常感谢你的回复，这个项目是个非常好的swift项目，我正在通过这个项目学习swift语言，并且通过这个翻译成objective-c版本加深自己的swift使用，方便的话可以留下联系方式，想请教些问题，还望不吝赐教，谢谢
semny.qu@gmail.com

[2019-05-28 11:29] xwv commented on #103
@semnyqu , thank you for your long time support of the project. You can [reach me via wechat](https://github.com/XWebView/XWebView/issues/94#issuecomment-351962176).

Initially, some files were Objective-C code. I spent a lot of efforts to convert them to Swift, see [here](https://github.com/XWebView/XWebView/commit/3d1e08a161c69878873055e33a43f019bc75b4d2) and [here](https://github.com/XWebView/X

[2021-03-25 18:40] #63 closed, assigned to nobody

[2022-05-19 04:55] housenkui opened #104 "我已经重新设计了新的交互库，10分钟就能完成接入,也许可以帮助你."
我已经重新设计了新的交互库，10分钟就能完成接入,也许可以帮助你.
OC:
https://github.com/SDBridge/SDBridgeOC
Swift:
https://github.com/SDBridge/SDBridgeSwift

[2022-05-19 04:55] housenkui opened #105 "I have redesigned new libraries, It only takes ten minutes to complete . Maybe can help you."
I have redesigned new libraries, It only takes ten minutes to complete . Maybe can help you.
OC:
https://github.com/SDBridge/SDBridgeOC
Swift:
https://github.com/SDBridge/SDBridgeSwift